transformers==4.40.0
accelerate==0.29.3
peft==0.10.0
trl==0.8.6
bitsandbytes==0.43.1
sentence-transformers==2.7.0
openai==1.30.0
pillow==10.3.0
opencv-python-headless==4.9.0.80
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.0
tqdm==4.66.4
datasets==2.19.1
huggingface_hub==0.23.0
nltk==3.8.1
scipy==1.13.0
scikit-learn
